.continer{
    display: inline-block;
    margin: 10px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 200px;
    padding: 20px;

}
.continer img {
    width: 200px;
}
.App {
    text-align: center;
    display: grid;
    grid-gap: 8px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  }